
   .filter{
    margin: 2em;
}
.Head{
    height:200px;
    background-color: #f2f1ef;
    margin-bottom: 1rem;

}

.Search{
    margin-left: 55%;
    max-width: 300px;
}
  

.all{
    margin-top: 3em;
    margin-bottom: 5em;


}

.head img{
    width: 70px;
    height: 70px;
    border-radius: 10rem;
    margin:1rem .5rem ;
}
ul{
    margin: 1em;
}
.head{
    display:flex;
}
.headb:hover{
    background-color:#F3F4ED;
    border: 1px solid #cfcfcf;
    transform: scaleY(1.05);
    box-shadow: 5px 10px 8px 10px #cfcfcf;

}
h5{
    display: inline;
    margin: 2.1rem .5rem;
}
.cat{
    margin: 1px;
    justify-content: start;
}



.col1{

    height: 100%;
}




#btn{
    margin: 1em;
    border-radius: 1em;
    border: none;
    width: 100px;
    padding: .5em;
}
#btn:hover{
    background-color: white;
   }
   

@media screen and (max-width: 800px) {
   
.Search{
    margin-left: 10%;
    width: 200px;
}
}
