<div class="all">
    <div class="Head " style="background-image: url('assets/jobs.png');background-size:100% 100%; background-repeat: no-repeat "></div>
    <div class="form-group col-sm-8 col-lg-3 filter  ">
        <input type="text" [(ngModel)]="searchjob" class="form-control Search " placeholder="Search By Job's Name" />
    </div>
    <div class="container">
        <div class="col1" *ngFor="let project of allprojects  |project:searchjob " >
            <div class="card mb-3  headb">

                <div class="head">
                    <img src="./assets/img/profile.png" class="card-img-top" alt="...">
                    <h5>name</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{project.name}} </h6>
                    <p class="card-text" style="font-size: 1em; margin: 2px;">{{project.description}}</p>
                    <p-rating [(ngModel)]="project.rate" [readonly]=true [cancel]=false [stars]="5"></p-rating>
                    <ul>
                        <li> Budget : {{project.budget}}</li>
                        <li> Final prise : {{project.final_price}} </li>
                        <li> Location : {{project.location}}</li>
                        <li> Status : {{project.status}} </li>
                    </ul>

                    <a class="btn btn-primary " routerLink="/viewproject/{{project.id}}">View</a>
                    <a class="btn btn-success mx-1" routerLink="/editproject/{{project.id}}">Edit</a>
                    <a class="btn btn-danger" (click)="deleteProject($event ,project.id)">Delete</a>


                </div>
            </div>
        </div>
    </div>
</div>