
    <!-- Section4 -->
    <!-- <div class="container mb-5 mt-5">
        <div class="row section4">
            <div class="col-md-5">
                <h2>Best Rated Freelancers</h2>
            </div>
            <div class="col-12 mt-md-3">
                <div class="row"> -->
                    <!-- Card1 -->
                    <!-- <div class="col-md-3 justify-content-center">
                        <div class="card p-4" style="width: 18rem;" >
                            <img #img1 src="/assets/images/person1.jpg" class="card-img-top" alt="..." (mouseover)="styleImg(img1)">
                            <div class="card-body">
                                <p class="card-text fs-4 mb-1">Mona Fathy</p>
                                <small>Doctor</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card2 -->
                    <!-- <div class="col-md-3">
                        <div class="card p-4" style="width: 18rem;">
                            <img src="/assets/images/person2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text fs-4 mb-1">Salem Salah</p>
                                <small>Writter</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card3 -->
                    <!-- <div class="col-md-3">
                        <div class="card p-4" style="width: 18rem; height: 13rem;">
                            <img src="/assets/images/person3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text fs-4 mb-1">Hala Samir</p>
                                <small>Nurse</small>
                                    <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card4 -->
                    <!-- <div class="col-md-3">
                        <div class="card p-4" style="width: 18rem; height: 13rem;">
                            <img src="/assets/images/person4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text fs-4 mb-1">Ahmed Gamal</p>
                                <small>Lawyer</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- End of card4 -->
                <!-- </div>
            </div>
        </div>

    </div> -->
    <!-- End of Section4    -->

<!-- ---------------------------------------------------------------------------------- -->
     <!-- Section4 -->
     <div class="container mb-5 mt-5">
        <div class="row section4">
            <div class="col-md-5">
                <h2>Best Rated Freelancers</h2>
            </div>
            <div class="col-12 mt-md-3">
                <div class="row">
                    <!-- Card1 -->
                    <div class="col-md-3 justify-content-center">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img1 , cardBody1)">
                            <img #img1 src="/assets/images/person3.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img1 , cardBody1)">
                            <div class="card-body" #cardBody1>
                                <p class="card-text fs-4 mb-1">Mona Fathy</p>
                                <small>Doctor</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card2 -->
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img2 , cardBody2)">
                            <img #img2 src="/assets/images/person2.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img2 , cardBody2)">
                            <div class="card-body" #cardBody2>
                                <p class="card-text fs-4 mb-1">Salem Salah</p>
                                <small>Writter</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card3 -->
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img3 , cardBody3)">
                            <img #img3 src="/assets/images/person3.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img3 , cardBody3)">
                            <div class="card-body" #cardBody3>
                                <p class="card-text fs-4 mb-1">Hala Samir</p>
                                <small>Nurse</small>
                                    <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card4 -->
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img4 , cardBody4)">
                            <img #img4 src="/assets/images/person4.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img4 , cardBody4)">
                            <div class="card-body" #cardBody4>
                                <p class="card-text fs-4 mb-1">Ahmed Gamal</p>
                                <small>Lawyer</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of card4 -->
                </div>
            </div>
        </div>

    </div>
    <!-- End of Section4    -->
