
<!-- Start of Body -->
<div class="container mt=5">
    <div class="row mt=5">
        <div class="col-4 left p-4">
            <!-- Left Section -->
            <app-left-section ></app-left-section>
        </div>
        <!-- Start Of Gap Section -->
            <div class="col-1">
                <!--Gap-->
            </div>
            <!-- End Of Gap Section -->
            <!-- Right Section -->
            <div class="col-7 p-4">
                <app-progress></app-progress>
                <app-active-jobs></app-active-jobs>
                <app-feeds></app-feeds>
        </div>
    </div>
</div>