<div class="container-fluied main">
    <div class="row cover">
        <div class="mt-4">
            <h1>{{user.name}} Portfolio</h1>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row  py-3">
        <div class="col">
            <h3 class="section-title">{{portfolio.name}}</h3>

            <img src="http://localhost:8000/storage/portfolios/{{portfolio.images}}" class="d-block w-100"
                alt="{{portfolio.images}}">
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col py-2 px-3">

                    <h4 class="section-title">Project Description</h4>
                    <p>{{portfolio.description}}</p>
                    <div *ngIf="portfolio.link!=null">
                        <hr>
                        <h4 class="section-title">Link For Project</h4>
                        <a href="#" class="link">{{portfolio.link}}</a>
                    </div>

                    <div class="tags" *ngIf="portfolio.skills!=null">
                        <hr>

                        <h4 class="section-title">Skills Used In This Project </h4>

                        <p-tag severity="success" class="tag" *ngFor="let skill of portfolio.skills">{{skill}}</p-tag>
                    </div>

                </div>
            </div>
        </div>