

    <div class="container">
           <div class="Head " style="background-image: url('assets/jobs.png');background-size:100% 100%; background-repeat: no-repeat "></div>
 <div class="col1">
       
           
                   <img src={{project.image}} class="card-img-top" alt="...">
                    <h4 > {{(project.fname) + " " +(project.lname)}} </h4>
              
                    <ul class="dd">
                        <li> <p-rating  [(ngModel)]="rate" name="rate" [readonly]=true [cancel]=false [stars]="5"></p-rating></li>

                        <li><p> Project's name : </p> {{project.name}} </li>
                        <li><p > Category : </p> {{project.cat_name}}</li>
                        <li style="width: 60%;"><p > Description : </p>{{project.description}}</li>
                        <li><p > Budget : </p>{{project.budget}}</li>
                       <!-- <li><p> Final prise : </p>{{project.final_price}} </li>-->
                        <li><p > Location : </p>{{project.location}}</li>

                    </ul>      
</div> </div>
    