
.Head{
    height:200px;
    background-color: #f2f1ef;
    margin-bottom: 1rem;
}
.container{
    margin-top:5em;
}
img{
    width:70px;
    height: 70px;
    border-radius: 10rem ;

  
}
 /*h4{
   display: inline;
    margin: 2.1rem .5rem;
}*/

.col1{
 
    margin-bottom: 10px;


}

h4{
    font-weight: bold;
    color:black;
    font-family: cursive;
    margin-bottom: 20px;
    display:inline;

}
li{
    color:black;
}

li p {
    font-weight: bold;
    color:black;
    font-size: larger;
display: inline;
    
}
.dd{
    margin-top:3%;
}


