.Head{
    height:400px;
    background-color: #f2f1ef;
    margin-top: 2rem;

}
.container{
    margin: 8em;
}
.head img{
    width: 70px;
    height: 70px;
    border-radius: 10rem;
    margin:1rem .5rem ;
}
h4{
    display: inline;
    margin: 2.1rem .5rem;
}
h5{
    margin-left: 30px;
}
li p ,h4{
    font-weight: bold;
    color:black;
    font-size: larger;
    display: inline;
}
.card{
   border-style: none;
  
   margin: 3em;
}