<div class="row" [hidden]="checkUser">
  <div class="col-md-12">
      <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profile <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon></button>
          </li>
          <li class="nav-item" role="presentation">
              <!-- <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon></button> -->
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback" type="button" role="tab" aria-controls="feedback" aria-selected="false">feedback <fa-icon [icon]="faComment" aria-hidden="true"></fa-icon></button>
          </li>
      </ul>
  </div>
</div>
<div class="tab-content" id="nav-tabContent">

    <section class="content mt-5 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card" [hidden]="checkUser">
            <div class="card-header bg-white text-left">
                OVERVIEW
            </div>
            <div class="card-body">
                {{user.overview}}
            </div>
        </div>
        <!-- <div class="card mt-4">
            <div class="card-header bg-white text-left">
                My Skills
            </div>
            <div class="card-body">

            </div>
        </div> -->
    </section>
    <section class="content mt-5 tab-pane fade show" [ngClass]="[checkUser ? 'active' : 'none']" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
        <div class="card">
            <div class="card-header bg-white text-left">
                Feedback
            </div>
            <div class="card-body">

                <div class="all">
                    <div class="container">
                        <div class="col1" *ngFor="let review of  Reviews ">
                            <div class="card mb-3  headb">
                                <div class="head">

                                    <img src="./assets/images/{{review.image}}" class="card-img-top" alt="...">
                                    <h5>{{(review.name) + " " + (review.lname)}}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text mb-3" style="font-size: 1em; margin: 2px;">{{review.review}}</p>
                                    <p-rating [(ngModel)]="review.rate" [readonly]=true [cancel]=false [stars]="5"></p-rating>
                                    <ul>
                                        <li> project Name : {{review.name}}</li>

                                    </ul>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
