<!-- Section1 Header -->
<div class="container-fluid section1 mt-sm-5 mb-5">

    <div class="row p-md-5 p-sm-4">
        <div class="col-6 mb-md-5 dreamDiv">
            <h1><b>Your Dream</b><br />Job is Waiting</h1>
        </div>
        <div class="col-12">
            <a routerLink="/Categories" class=" btn1 btn btn-lg btn1 me-3">Find a Developer</a>
            <a routerLink="/listproject" class="btn1 btn btn-lg btn2">Find a Project</a>
                
            
        </div>
    </div>
</div>
<!-- End of Section1 Header -->
