<div class="purposal_container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">


                    <h6>purposal</h6>
                    <ul>

                        <li> Cover letter : {{purposal.cover_letter}}</li>
                        <li> Budget : {{purposal.budget}}</li>
                        <li> Time :{{purposal.time}} </li>

                    </ul>



                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form p-3">
                <h2>Job Details</h2>
                <hr>
                <div class="head">


                    <h4> {{(project.name) + " " +(project.lname)}} </h4>

                    <h5 class="card-title ms-5" [(ngModel)]="project.status">{{project.status}}</h5>
                    <ul class="dd">
                        <li>
                            <p> Project's name : </p> {{project.project_name}} </li>
                        <li>
                            <p> Category : </p> {{project.cat_name}}</li>
                        <li style="width: 60%;">
                            <p> Description : </p>{{project.description}}</li>
                        <li>
                            <p> Budget : </p>{{project.budget}}</li>
                        <li>
                            <p> Location : </p>{{project.location}}</li>
                        <li>
                            <p-rating [(ngModel)]="rate" name="rate" [readonly]=true [cancel]=false [stars]="5"></p-rating>
                        </li>


                    </ul>
                    <p class="job-text" style="font-size: 1em; margin: 2px;">{{project.description}}</p>




                </div>
            </div>
        </div>

    </div>
</div>