a{
  text-decoration: none;
  color: black;
}
.profile{
  background-color: #f2f1ef;
  margin-top: 110px;
  border-radius: 5px;
  background-image: url(/assets/img/desk2.jpg);
  background-size: cover;
  color: white;
}

.btn{
  color: #053742;
  background-color: #39A2DB;
  margin-left: 10px;
  /* #88c417 */
}

