<div class="container-fluied main">
    <div class="row cover">

    </div>
</div>
<div class="container my-5">
    <div class="row  py-3">
        <div class="col-11">
            <h3 class="title">Task</h3>
        </div>
        <a [href]="url" [download]="task.file">
          {{ task.file }}</a>


        <div class="container my-5">
            <div class="row">
                <div class="col py-2 px-3">

                    <h4 class="section-title">Message</h4>
                    <p>{{task.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>