<div class="containerlogin">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <form class="login100-form validate-form ">
                        <span class="login100-form-title p-b-43 ">
                            Forget Password
                        </span>


                        <div class="wrap-input100 validate-input " data-validate="Valid email is required: ex@abc.xyz ">
                            <input class="input100 " type="text " name="email ">
                            <span class="focus-input100 "></span>
                            <span class="label-input100 ">Email</span>
                        </div>




                        <div class="container-login100-form-btn ">
                            <button class="login100-form-btn " routerLink="/resetPassword">


                            Forget Password
                            </button>
                        </div>


                    </form>



                </div>

            </div>
        </div>
    </div>
</div>